<div class="container my-5">
  <div class="p-5 text-center">
    <h1 class="text-body-emphasis">Let's Build Our Pizza</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Choose a pizza size, then add toppings. Add a promo code, if you have one.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button
        class="d-inline-flex align-items-center btn btn-outline-primary btn-lg px-4 rounded-pill"
        type="button"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div
      class="btn-group btn-group-lg mx-auto gap-2 mb-5"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      @for (pizzaSize of pizzaSizes; track $index) {

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="{{ pizzaSize.size }}{{ pizzaSize.price }}"
        (click)="onPizzaSelected(pizzaSize)"
        [checked]="pizzaSize.size === 'Medium'"
        autocomplete="off"
      />
      <label
        class="btn btn-outline-primary rounded-pill"
        for="{{ pizzaSize.size }}{{ pizzaSize.price }}"
      >
        {{ pizzaSize.size }} - {{ pizzaSize.price | currency }}
      </label>
      }
    </div>
  </div>

  <div class="row g-4">
    <div class="col-xl-9">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-3">
        @for (topping of pizzaToppings; track $index) {
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div>
                <h5 class="card-title">{{ topping.name }}</h5>
                @if (topping.type === "Veggie") {
                <span class="badge rounded-pill text-bg-success">Veggie</span>
                } @else {
                <span class="badge rounded-pill text-bg-light">Meat</span>
                }
              </div>

              <p class="card-text mt-3">Some brief summary of the topping!</p>
              <div class="d-flex justify-content-between mt-3">
                <div class="mt-1 pt-2">
                  <i class="fas fa-plus fa-sm"></i
                  >{{ topping.price | currency }}
                </div>
                <ul class="ks-cboxtags align-items-center ps-0">
                  <li>
                    <input
                      type="checkbox"
                      class="btn btn-outline-primary"
                      id="{{ topping.name }}"
                      (click)="onToppingSelected(topping)"
                      value="{{ topping.name }}"
                    /><label for="{{ topping.name }}">Add</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <aside class="col-xl-3">
      <div class="row g-4">
        <div class="col-md-6 col-xl-12">
          <div class="card mb-4">
            <!-- Card body -->
            <div class="card-body">
              <div class="card-title">
                <h5>Your Order</h5>
              </div>
              <!-- Price -->
              <ul
                class="list-group list-group-borderless border-top-0 border-bottom-0 my-3"
              >
                @for (item of cartItems(); track $index) {
                <li class="list-group-item">
                  <p class="d-flex justify-content-between">
                    <span class="h5 fw-light mb-0">
                      <strong>{{ item.pizza.size }} Pizza</strong></span
                    ><span class="h5 fw-light mb-0">
                      {{ item.price | currency }}
                    </span>
                  </p>
                  <p>
                    @for (topping of item.toppings; track $index; let last =
                    $last) {
                    <span class="h6 fw-light mb-0">{{ topping.name }}</span>
                    @if (!last) {<span>, </span>} }
                  </p>
                </li>
                }@empty {
                <li class="list-group-item">Added a Pizza to your cart</li>
                }
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-12">
          <div class="card rounded-2">
            <!-- Card body -->
            <div class="card-body">
              <div class="card-title">
                <h5>Price Summary</h5>
              </div>
              <ul class="list-group list-group-borderless">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <span class="h6 mb-0">Subtotal</span>
                  <span class="fs-5">{{ subTotal() | currency }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <span class="h6 mb-0">Taxes (13%)</span>
                  <span class="fs-5">{{ tax() | currency }}</span>
                </li>
              </ul>
            </div>

            <!-- Card footer -->
            <div class="card-footer border-top">
              <div class="d-flex justify-content-between align-items-center">
                <span class="h5 mb-0">Total</span>
                <span class="h5 mb-0">{{ totalCost() | currency }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
