<footer class="site-footer">
  <div class="container">
    <p>&copy; 2024 My Website. All rights reserved.</p>
    <nav class="footer-nav">
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/blog']">Blog</a></li>
        <li><a [routerLink]="['/contact']">Contact Us</a></li>
        <li><a [routerLink]="['/portfolio']">Portfolio</a></li>
        <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
        <li><a [routerLink]="['/terms']">Terms of Use</a></li>
      </ul>
    </nav>
  </div>
</footer>
