<div class="portfolio-container">
  <h1 class="page-title">Portfolio</h1>
  <div class="projects-grid">
    @for (project of projects; track $index) {
    <div class="project-card">
      <img
        [src]="project.image"
        alt="{{ project.title }}"
        class="project-image"
      />
      <div class="project-info">
        <h2 class="project-title">{{ project.title }}</h2>
        <p class="project-description">{{ project.description }}</p>
      </div>
    </div>
    }
  </div>
</div>
