<div class="privacy-page">
  <h1>Privacy Policy</h1>
  <p>
    Your privacy is important to us. This privacy statement explains the
    personal data we collect, how we use it, and your rights.
  </p>
  <h2>Information We Collect</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>
  <h2>How We Use Your Information</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>
</div>
