<div class="terms-of-use">
  <h1>Terms of Use</h1>
  <p>
    Welcome to our website. By accessing and using our site, you agree to the
    following terms and conditions.
  </p>
  <h2>Use of Site</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>
  <h2>Intellectual Property</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>
  <h2>Disclaimer</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>
</div>
