<div class="px-4 py-3 my-3 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="https://picsum.photos/350?random=1"
    alt="Home Page Image"
  />
  <h1 class="display-5 fw-bold text-body-emphasis">
    Craft Your Dream Pizza in Minutes!
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Welcome to our pizza app, where creating delicious custom pizzas is quick
      and fun! Choose from a variety of sizes and toppings while effortlessly
      tracking promotions to maximize your savings. Your perfect pizza
      awaits—let's make it happen!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        [routerLink]="['/pizza-builder']"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-lg px-4 gap-3"
      >
        Build Your Pizza!
      </a>
    </div>
  </div>
</div>
